
*{
	/*padding: 0px;*/
	font-family: sans-serif;
	font-size: 30px;
	margin:0px;
}
:root{
	--yellow:#d1ab31 ;
	--green: #9eb930;
	--dark:#6e6e6f;
}

body{
	
}
.container{
	background: #748fb6;
	/*#dd441e;*/
	height: 300px;
	width: 100%;
}
